<div class="section container grid-xl text-center">
  <h2>Don’t take our word for it. Just ask some of the clients we serve.</h2>
  <div class="columns col-gapless">
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-1.png" alt="Nimbus Clients" class="img-responsive clients-img" height="125" width="550" layout=responsive></amp-img>
    </div>
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-2.png" alt="Nimbus Clients" class="img-responsive clients-img" height="125" width="550"  layout=responsive></amp-img>
    </div>
  </div>

</div>
