<div class="section container grid-xl text-center">
  <h1>Don’t take our word for it. Just ask some of the clients we serve.</h1>
  <div class="columns">
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-1.png" alt="Nimbus Clients" class="img-responsive" height="125" width="550" layout=responsive>
    </div>
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-2.png" alt="Nimbus Clients" class="img-responsive" height="125" width="550"  layout=responsive>
    </div>
  </div>

</div>
