
<div class="section">
  <div class="container grid-sm text-center">
    <h1>Our Core Values</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-lg">
    <div class="columns">
      <div class="column reason col-6 col-sm-12">
        <div class="icon">
          <amp-img src="/template-images/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Excellence</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/headphones.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>People First</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/skyline.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Integrity</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/flash.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Transparency</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

    </div>
  </div>

</div>
