
<div class="section text-center">
  <div class="container grid-sm">
    <h1>Our Core Values</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-md">
    <div class="columns">
      <div class="column col-3">
        <div class="">
          <amp-img src="/svg/trophy.svg" alt="Excellence" class="" height="50" width="50"/>
        </div>
        <h3>Excellence</h3>
      </div>
      <div class="column col-3 ">
        <div class="">
          <amp-img src="/svg/team.svg" alt="People First" class="" height="50" width="50"/>
        </div>
        <h3>People First</h3>
      </div>
      <div class="column col-3">
        <div class="">
          <amp-img src="/svg/handshake.svg" alt="Integrity" class="" height="50" width="50"/>
        </div>
        <h3>Integrity</h3>
      </div>
      <div class="column col-3">
        <div class="">
          <amp-img src="/svg/unlocked.svg" alt="Transparency" class="" height="50" width="50"/>
        </div>
        <h3>Transparency</h3>
      </div>

    </div>
  </div>

</div>
