
<div class="section is-light">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column col-5 col-mx-auto col-sm-12">
        <h2>Request a Free Quote</h2>
        <p>We make office cleaning and office management hassle-free. Try us out by getting a free quote or call +6587874824</p>
        <h6>Looking for a job?</h6>
        <p>Please <a href="https://careers.nimbusforwork.com/contact-us/">apply here</a> instead.</p>
      </div>
      <div class="column col-6 col-sm-12">
        {{ partial "components/form.html" . }}
      </div>
    </div>
  </div>
</div>
