
<div class="section">
  <div class="container grid-sm text-center">
    <h2>Our Difference</h2>
    <div class="separator"></div>
  </div>
  <div class="container grid-lg">
    <div class="columns">
      <div class="column reason col-6 col-sm-12">
        <div class="icon">
          <amp-img src="/template-images/007-time-passing.svg" alt="Uninterrupted Service" class="" height="50" width="50"></amp-img>
        </div>
        <h3>Uninterrupted Service</h3>
        <p>We ensure your workplace is uninterrupted with supervisors and a team of trained standby cleaners actively ready to serve you.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/005-monitor.svg" alt="Accountability" class="" height="50" width="50"></amp-img>
        </div>
        <h3>We give you Accountability</h3>
        <p>Our office management platform helps you be in 'three places all at once' with check-in check-out technology and a place to save all your new tasks and reminders so you never have to repeat your instructions again.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/014-diploma.svg" alt="Service Guarantee" class="" height="50" width="50"></amp-img>
        </div>
        <h3>Service Guarantee</h3>
        <p>We don't just pay lip service to quality, we walk the talk. Two months into your contract, if you are dissatisfied with our service, we will do a complimentary spring cleaning for you or pay any of our competitors to clean up your space- no questions asked.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/004-support.svg" alt="Responsive Customer Service" class="" height="50" width="50"></amp-img>
        </div>
        <h3>Responsive Customer Service</h3>
        <p>Every client is assigned a dedicated account manager whom they can contact for any troubleshooting or additional help.</p>
      </div>

    </div>
  </div>

</div>
