<div class="section is-light text-center">
  <div class="container grid-md">
    <h1>Satisfaction Guaranteed or the next one is on us</h1>
    <div class="separator"></div>
    <div class="columns">
      <div class="column col-sm-12">

        <figure class="figure is-centered">
          <amp-img src="/guarantee.png" alt="Nimbus Guarantee" class="img-responsive" height="128" width="128"/>
        </figure>

        <div class="p-top-30">
          <p class="p-top-30">
            At Nimbus, we don't just pay lip service to quality, we walk the talk. if you are dissatisfied with our spring
            cleaning after the service, we will do a complimentary cleaning for you free of charge - no questions asked.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
