<div class="section testimonials">
  <div class=" container grid-xl text-center">
    <h1>Testimonials</h1>
    <div class="separator"></div>
    <div class="columns">

      {{- range .Params.testimonials | default .Site.Params.testimonials -}}
        <div class="column col-sm-12">
          <div class="card">
            <div class="card-image">
              <amp-img src="/square{{.image}}" alt="{{.name}}" class="circle" width="100" height="100" ></amp-img>
            </div>
            <div class="card-header">
              <div class="card-title h5">{{.name}}</div>
              <div class="card-subtitle">{{.position}}</div>
            </div>
            <div class="card-body">
              {{.testimonial}}
            </div>
          </div>
        </div>
      {{ end }}

    </div>
  </div>

</div>
