
<div class="section">
  <div class="container grid-sm text-center">
    <h1>Why choose Nimbus to be your commercial cleaning partner?</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-lg">
    <div class="columns">
      <div class="column reason col-6 col-sm-12">
        <div class="icon">
          <amp-img src="/template-images/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Tech Enabled</h3>
        <p>Our cleaners have check in and check out tracking to ensure you only pay for the cleaning that is completed.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/headphones.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Best Customer Support</h3>
        <p>Every customer has a dedicated account manager who they can contact at any time of the day.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/skyline.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>No Space is Too Difficult</h3>
        <p>We clean offices, showrooms, schools, churches, and learning centers. We specifically train our staff for your location.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/template-images/flash.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>We Can Do It All</h3>
        <p>It doesn't matter if it is carpet cleaning, toilet cleaning, office window cleaning, or annual spring cleaning.</p>
      </div>

    </div>
  </div>

</div>
