
@import "./variables";

* {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -ms-transition:     $transition;
  -o-transition:      $transition;
}
body {
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
.content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}
.polly-Button {
  font-family: $family-serif;
  text-transform: uppercase;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: .03em;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  padding: 0 14px;
  color: #666;
}
.polly-Header {
  font-family: $family-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  color: $red;
}
::selection { // keep this separate from below
  background: #FF4F19;
  color: #fff;
}
::-moz-selection { // keep this separate from above
  background: #FF4F19;
  color: #fff;
}

main {
  position: relative;
  overflow: hidden;
  display: block;
}
.avatar {
  margin: auto;
  img {
    border-radius: 50%;
  }
}
figure.is-centered {
  margin: 10px auto;
}

.card {
  border-radius: 3px;
  display: inline-block;
  .card-content {
    .title {
      margin-bottom: 5px;
    }
    .summary {
      color: $dark-blue-grey;
      font-size: 0.8rem;
    }
  }
  .card-image {
    img {
      border-radius: 3px 3px 0 0;
    }
  }

  &:hover {
    box-shadow: $box-shadow;
  }
}
.is-grey.hero {
  background: $blue-grey;
}
