
<form action="#" id="form-contact-us" netlify>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Your email address" name="email">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <textarea class="textarea" placeholder="Send us a message" name="notes"></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="submit" class="button is-primary is-outlined" value="Send us a message" />
    </div>
  </div>

</form>
