
<form action="#" id="form-invite" netlify>

  <div class="field has-addons">
    <!-- <div class="control">
      <div class="select">
        <select name="country">
          <option value="Personal">Personal</option>
          <option value="Start up">Start up</option>
          <option value="Enterprise">Enterprise</option>
        </select>
      </div>
    </div> -->
    <div class="control is-expanded">
      <input class="input" type="text" placeholder="Email *" name="email">
    </div>
    <div class="control">
      <input type="submit" class="button is-info" value="Request invite" />
    </div>
  </div>

</form>
