<!doctype html>
<html ⚡ lang="en" class="amp-border-box">
<head>
{{ partial "base/header-amp.html" . }}
{{ partial "base/styles-amp.html" . }}
</head>
<body class="">


<div class="header">
  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="btn btn-link">
        <amp-img class="brand-logo" src="/logo-menu.svg" alt="{{.Site.Title}}" width="112" height="50" />
      </a>
    </section>
    <section class="navbar-section">
      <a class="btn btn-nimbus input-group-btn" href="/contact">Contact Us</a>
    </section>
  </header>
</div>


<div class="hero">
    <amp-img src="/rect/images/bg-hero.jpg" alt="Nimbus" class="img-fit-cover" width="300" height="200" layout=responsive>

    <div class="hero-text col-7 col-sm-12">
      <h1>{{.Params.description}}</h1>
      <p>{{.Params.subheading}}</p>
      <a class="btn btn-nimbus" href="/contact">Request a free quote</a>
    </div>
</div>


<div class="section ">
  <div class="container grid-sm text-center">
    <h1>What You Can Expect</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-xl">
    <div class="columns">

      {{ range .Params.reasons }}
      <div class="column reason col-4 col-md-12">
        <div class="icon">
          <amp-img src="{{.icon}}" alt="{{.heading}}" class="" height="50" width="50"/>
        </div>
        <h3>{{.heading}}</h3>
        <p>{{.reason}}</p>
      </div>
      {{ end }}

    </div>
  </div>

</div>



<div class="section container grid-xl text-center">
  <h1>Don’t take our word for it. Just ask some of the clients we serve.</h1>
  <div class="columns">
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-1.png" alt="Nimbus Clients" class="img-responsive" height="125" width="550"/>
    </div>
    <div class="column col-6 col-sm-12">
      <amp-img src="/clients-2.png" alt="Nimbus Clients" class="img-responsive" height="125" width="550"/>
    </div>
  </div>

</div>


<div class="section">
  <div class="container grid-sm text-center">
    <h1>Why choose Nimbus to be your commercial cleaning partner?</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-md">
    <div class="columns">
      <div class="column reason col-6 col-sm-12">
        <div class="icon">
          <amp-img src="/svg/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Tech Enabled</h3>
        <p>Our cleaners have check in and check out tracking to ensure you only pay for the cleaning that is completed.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/svg/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Tech Enabled</h3>
        <p>Our cleaners have check in and check out tracking to ensure you only pay for the cleaning that is completed.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/svg/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Tech Enabled</h3>
        <p>Our cleaners have check in and check out tracking to ensure you only pay for the cleaning that is completed.</p>
      </div>
      <div class="column reason col-6 col-sm-12">
        <div class="">
          <amp-img src="/svg/smartphone.png" alt="Nimbus Clients" class="" height="50" width="50"/>
        </div>
        <h3>Tech Enabled</h3>
        <p>Our cleaners have check in and check out tracking to ensure you only pay for the cleaning that is completed.</p>
      </div>

    </div>
  </div>

</div>


<div class="section is-light text-center">
  <div class="container grid-md">
    <h1>Satisfaction Guaranteed or the next one is on us</h1>
    <div class="separator"></div>
    <div class="columns">
      <div class="column col-sm-12">

        <figure class="figure is-centered">
          <amp-img src="/guarantee.png" alt="Nimbus Guarantee" class="img-responsive" height="128" width="128"/>
        </figure>

        <div class="p-top-30">
          <p class="p-top-30">
            At Nimbus, we don't just pay lip service to quality, we walk the talk. if you are dissatisfied with our spring
            cleaning after the service, we will do a complimentary cleaning for you free of charge - no questions asked.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="section testimonials">
  <div class=" container grid-xl text-center">
    <h1>Testimonials</h1>
    <div class="separator"></div>
    <div class="columns">

      {{ range .Params.testimonials }}
        <div class="column col-sm-12">
          <div class="card">
            <div class="card-image">
              <amp-img src="/square{{.image}}" alt="{{.name}}" class="circle" width="100" height="100" >
            </div>
            <div class="card-header">
              <div class="card-title h5">{{.name}}</div>
              <div class="card-subtitle">{{.position}}</div>
            </div>
            <div class="card-body">
              {{.testimonial}}
            </div>
          </div>
        </div>
      {{ end }}

    </div>
  </div>

</div>


<div class="section is-light">
  <div class="container grid-xl">
    <div class="columns">
      <div class="column col-sm-12">
        <h1>Request a Free Quote</h1>
        <p>We make office cleaning and office management hassle-free. Try us out by getting a free quote or call +6587874824</p>
      </div>
      <div class="column col-sm-12">
        <form class="" action="#" target="_top" >
          <div class="form-group">
            <!-- <label class="form-label" for="input-Name">Name</label> -->
            <input class="form-input" type="text" id="input-Name" placeholder="Your Name">
          </div>
          <div class="form-group">
            <!-- <label class="form-label" for="input-Email">Email</label> -->
            <input class="form-input" type="text" id="input-Email" placeholder="Your email">
          </div>
          <div class="form-group">
            <!-- <label class="form-label" for="input-Handphone">Handphone</label> -->
            <input class="form-input" type="text" id="input-Handphone" placeholder="Your handphone">
          </div>
          <div class="form-group">
            <textarea class="form-input" id="input-example-3" placeholder="Tell us what you need" rows="3"></textarea>
          </div>
          <button class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="section container grid-xl">
    <div class="columns">
      <div class="column col-sm-12">
        <figure class="figure">
          <amp-img src="/nimbus-inverted.png" alt="{{.Site.Title}}" class="img-responsive" height="50" width="130"/>
        </figure>
        <p>Nimbus provides quality cleaning and maintenance service and on-demand services from office cleaning to temporary labour. All our cleaners are full-time, trained, and WSQ certified.</p>
      </div>
      <div class="column col-sm-12">
        <h5>Important Links</h5>
        <ul>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="https://blog.nimbusforwork.com/">Blog</a></li>
          <li><a href="https://careers.nimbusforwork.com/">Careers</a></li>
          <li><a href="https://careers.nimbusforwork.com/calculator/">Salary Calculator</a></li>
        </ul>
      </div>
      <div class="column col-sm-12">
        <h5>Get In Touch</h5>
        <ul>
          <li>hello@nimbusforwork.com</li>
          <li>+65 8787 4824</li>
        </ul>
      </div>
    </div>

    <div class="container text-center">
      <small>© Nimbus For Work</small>
    </div>
  </div>
</div>

</body>
</html>
