<!doctype html>
<html ⚡ lang="en" class="amp-border-box">
<head>
{{ partial "base/header-amp.html" . }}
{{ partial "base/styles-amp.html" . }}
</head>
<body class="">

{{ partial "base/main-nav.html" . }}
{{ partial "components/hero.html" . }}

<div class="section ">
  <div class="container grid-sm text-center">
    <h1>What You Can Expect</h1>
    <div class="separator"></div>
  </div>
  <div class="container grid-xl">
    <div class="columns">

      {{ range .Params.reasons }}
      <div class="column reason col-4 col-md-12">
        <div class="icon">
          <amp-img src="{{.icon}}" alt="{{.heading}}" class="" height="50" width="50"></amp-img>
        </div>
        <h3>{{.heading}}</h3>
        <p>{{.reason}}</p>
      </div>
      {{ end }}

    </div>
  </div>
</div>

{{ partial "components/guarantee.html" . }}
{{ partial "components/why-choose-us.html" . }}
{{ partial "components/testimonials.html" . }}
{{ partial "components/clients.html" . }}
{{ partial "components/cta.html" . }}
{{ partial "base/footer.html" . }}

</body>
</html>
