<!DOCTYPE html>
<html>
<head>

{{ partial "base/header.html" . }}

</head>

<body class="Home">
{{ partial "base/main-nav.html" . }}
<main>

<!-- <section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        featured
      </h1>
      <h2 class="subtitle">
        Somthing
      </h2>
    </div>
  </div>
</section> -->


<section class="section">
  <div class="container">

    <div class="columns">

    {{ range .Data.Pages }}
      <div class="column is-half">
        <a class="card" href="{{.Permalink}}">
          <div class="card-image">
            <figure class="image">
              <img src="/rect{{.Params.image}}" alt="{{.Title}}">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-6">
              {{.Title}}
            </p>
            <p class="summary">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </a>
      </div>
    {{ end }}

    </div>
  </div>
</section>



</main>
{{ partial "base/footer.html" . }}
</body>
</html>
