<!doctype html>
<html ⚡ lang="en" class="amp-border-box">
<head>
{{ partial "base/header-amp.html" . }}
{{ partial "base/styles-amp.html" . }}
</head>
<body class="">

{{ partial "base/main-nav.html" . }}
{{ partial "components/hero.html" . }}
{{ partial "components/clients.html" . }}
{{ partial "components/difference.html" . }}
{{ partial "components/guarantee.html" . }}
{{ partial "components/testimonials.html" . }}

<div class="section container grid-xl is-light ">
  <div class="container grid-sm text-center">
    <h1>How it works</h1>
    <div class="separator"></div>
  </div>
  <div class="columns text-center">

    <div class="column col-3 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">Make a request</div>
        </div>
        <div class="card-image">
          <amp-img src="/template-images/request.jpg" alt="Mothership" class="img-responsive" height="300" width="400" layout=responsive>
        </div>
        <div class="card-body">
          Request for a free site inspection by <a href="/contact-us">filling in our contact form</a> and we will contact you within 24 hours to arrange for a site inspection at your office.
        </div>
      </div>
    </div>

    <div class="column col-3 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">We evaluate your needs</div>
        </div>
        <div class="card-image">
          <amp-img src="/template-images/evaluate.jpg" alt="Mothership" class="img-responsive" height="300" width="400" layout=responsive>
        </div>
        <div class="card-body">
          At Nimbus, we know every workspace is unique and have different labour and management requirements. This is why we send our workspace consultants down to visit your site, understand what makes your space tick and then provide you with a tailored solution that meets your unique requirements.
        </div>
      </div>
    </div>

    <div class="column col-3 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">We provide a tailored solution</div>
        </div>
        <div class="card-image">
          <amp-img src="/template-images/solution.jpg" alt="Mothership" class="img-responsive" height="300" width="400" layout=responsive>
        </div>
        <div class="card-body">
          Based on your requirements, we will find you a cleaner best suited to your space and also plan out a detailed daily task schedule for our workers to follow. The technology that we’ve built ensures anyone from Nimbus who enters your premises knows the nitty gritty details of your space so you never have to repeat your instructions again.
        </div>
      </div>
    </div>

    <div class="column col-3 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">We support you full time</div>
        </div>
        <div class="card-image">
          <amp-img src="/template-images/support.jpg" alt="Mothership" class="img-responsive" height="300" width="400" layout=responsive>
        </div>
        <div class="card-body">
          We believe in giving a personal touch. Every client of Nimbus has a dedicated account manager available all days of the week for immediate support. We also have a large team of standby workers to ensure your workspace runs smoothly.

          On top of that, our office management platform automates many all your office management headaches and allows you to be in three places all at once. So sit back, relax and let us manage your workspace.
        </div>
      </div>
    </div>

  </div>
</div>

{{ partial "components/cta.html" . }}
{{ partial "base/footer.html" . }}


</body>
</html>
