<!doctype html>
<html ⚡ lang="en" class="amp-border-box">
<head>
{{ partial "base/header-amp.html" . }}
{{ partial "base/styles-amp.html" . }}
</head>
<body class="">

{{ partial "base/main-nav.html" . }}
{{ partial "components/hero.html" . }}
{{ partial "components/clients.html" . }}
{{ partial "components/guarantee.html" . }}
{{ partial "components/why-choose-us.html" . }}
{{ partial "components/testimonials.html" . }}
{{ partial "components/cta.html" . }}
{{ partial "base/footer.html" . }}

<div id="myDiv">
this is where it will appear
</div>

<script type="text/javascript">
function loadXMLDoc() {
    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
           if (xmlhttp.status == 200) {
               document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
           }
           else if (xmlhttp.status == 400) {
              alert('There was an error 400');
           }
           else {
               alert('something else other than 200 was returned');
           }
        }
    };

    xmlhttp.open("GET", "/.netlify/functions/hello", true);
    xmlhttp.send();
}
loadXMLDoc()
</script>

</body>
</html>
