
<div class="footer">
  <div class="container">

    <div class="columns">
      <div class="column is-3">
        <img src="/logo-menu.svg" alt="{{ .Site.Title }}" class="logo" />
        <h4 class="heading">Find us online</h4>
        {{ partial "base/social.html" . }}
      </div>
      <div class="column is-3">
        <h4 class="heading">Browse</h4>
        <a href="/rates/">Rates</a><br>
        <a href="/contact/">Contact Us</a><br>
      </div>
      <div class="column is-6">
        <h4 class="heading">Contact Us</h4>
        <div class="content">
          <p>
            <strong>Housekeeping</strong> <a href="mailto:housekeeping@trustcleanz.sg">housekeeping@trustcleanz.sg</a> <br>
            <strong>Facilities</strong> <a href="mailto:enquiries@trustcleanz.sg">enquiries@trustcleanz.sg</a>
          </p>
        </div>
        <h4 class="heading">Call us for a quote</h4>
        <div class="content">
          <p>
            <strong>Office</strong> +65 6747 8779 <br>
            <strong>Fax</strong> +65 6729 9728 <br>
            <strong>Mobile</strong> +65 9362 0420 <br>
            <a href="mailto:alextham@trustcleanz.sg">alextham@trustcleanz.sg</a>
          </p>
        </div>



      </div>
    </div>
    <div class="container">
      <small>© {{.Site.Title}}</small>
    </div>

  </div>
</div>
