
<div class="footer">
  <div class="section container grid-xl">
    <div class="columns">
      <div class="column col-5 col-sm-12 col-mx-auto">
        <figure class="figure">
          <amp-img src="/nimbus-inverted.png" alt="{{.Site.Title}}" class="img-responsive" height="50" width="130"></amp-img>
        </figure>
        <p>Nimbus provides quality cleaning and maintenance service and on-demand services from office cleaning to temporary labour. All our cleaners are full-time, trained, and WSQ certified.</p>
      </div>
      <div class="column col-2 col-sm-12">
        <h5>Important Links</h5>
        <ul>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
          <li><a href="https://blog.nimbusforwork.com/">Blog</a></li>
          <li><a href="/jobs/">Careers</a></li>
          <li><a href="https://careers.nimbusforwork.com/calculator/">Salary Calculator</a></li>
        </ul>
      </div>
      <div class="column col-2 col-sm-12">
        <h5>Services</h5>
        <ul>
          {{ range where .Site.RegularPages "Type" "services" }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="column col-3 col-sm-12">
        <h5>Get In Touch</h5>
        <ul>
          <li><a href="/contact-us">Request a free quote</a></li>
          <li>hello@nimbusforwork.com</li>
          <li>+65 8787 4824</li>
        </ul>
        <a href="https://www.facebook.com/nimbusforwork/" class="social-icon">
          <amp-img src="/svg/facebook-logo.svg" alt="Facebook" width="30" height="30" ></amp-img>
        </a>
        <a href="https://www.linkedin.com/company/13430028/" class="social-icon">
          <amp-img src="/svg/linkedin-logo.svg" alt="LinedIn" width="30" height="30" ></amp-img>
        </a>
      </div>
    </div>

    <div class="">
      <small><a href="/files/terms-of-use.pdf">Terms</a> | <a href="/files/privacy-policy.pdf">Privacy</a> | © Nimbus For Work</small>
    </div>
  </div>
</div>

<amp-analytics config="https://www.googletagmanager.com/amp.json?id={{.Site.Params.googleTagManager}}&gtm.url=SOURCE_URL" data-credentials="include"></amp-analytics>
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics type="facebookpixel" id="facebook-pixel">
    <script type="application/json">
    {
        "vars": {
            "pixelId": "314554882356601"
        },
        "triggers": {
            "trackPageview": {
                "on": "visible",
                "request": "pageview"
            },
            "trackEvent": {
               "on": "click",
               "selector": "#form-submit-button",
               "request": "event",
               "vars": {
                 "eventName": "Submit Form"
               }
             }
        }
    }
    </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
