<nav class="MainNav navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/logo-menu.svg" alt="Driffft" width="112" />
    </a>
    <div class="navbar-burger burger" data-target="main-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="main-menu">


    <div class="navbar-end">




      <a class="navbar-item" href="/rates/">
        Rates
      </a>

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button polly-Button" href="/contact/">
              <span>Contact Us</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
