<div class="header">
  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="btn btn-link">
        <amp-img class="brand-logo" src="/logo-menu.svg" alt="{{.Site.Title}}" width="112" height="50" ></amp-img>
      </a>
    </section>
    <section class="navbar-section">
      <a class="btn btn-link" href="https://careers.nimbusforwork.com/contact-us/">Apply for a job</a>
      <a class="btn btn-link" href="/about-us">About Us</a>
    </section>
  </header>
</div>
