<!doctype html>
<html ⚡ lang="en" class="amp-border-box">
<head>
{{ partial "base/header-amp.html" . }}
{{ partial "base/styles-amp.html" . }}
</head>
<body class="">

{{ partial "base/main-nav.html" . }}


<div class="hero">
  <div class="hero-text col-5 col-lg-12">
    <div class="">
      <h1 class="text-light">Request a Free Quote</h1>
      {{ partial "components/form.html" . }}
    </div>
  </div>
</div>

<!-- <div class="section bg-primary">
  <div class="container grid-lg">
    <div class="columns">
      <div class="column  col-6 col-sm-12">
        <h1 class="text-light">Request a Free Quote</h1>
        {{ partial "components/form.html" . }}
      </div>
      <div class="column col-4 col-sm-12 col-mx-auto">
        <h1 class="text-light">Contact Us</h1>
        <p><strong>Call</strong> +6587874824</p>
        <p><strong>Email</strong> hello@nimbusforwork.com</p>
        <p>
          970 Toa Payoh North #06-21 <br>
          Singapore 318992
        </p>
      </div>
    </div>
  </div>
</div> -->

{{ partial "components/guarantee.html" . }}
{{ partial "base/footer.html" . }}


</body>
</html>
