<!DOCTYPE html>
<html>
<head>

{{ partial "base/header.html" . }}

</head>

<body class="Rates">
{{ partial "base/main-nav.html" . }}
<main>

  <section class="section">
      <div class="container">

        <h1 class="title is-3">Our Rates</h1>

          <table class="table is-fullwidth">
            <thead>
              <tr>
                  <th>Frequency</th>
                  <th>Weekday</th>
                  <th>Rates</th>
                  <th>Total Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Once <br>(1 time per month) </td>
                <td>4 hrs min</td>
                <td>$128</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Bi-Weekly <br>(2 times per month) </td>
                <td>4 hrs</td>
                <td>$168</td>
                <td>8</td>
              </tr>
              <tr>
                <td>Weekly <br>(4 times per month) </td>
                <td>3 hrs</td>
                <td>$258</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Weekly <br>(4 times per month) </td>
                <td>4 hrs</td>
                <td>$318</td>
                <td>16</td>
              </tr>
              <tr>
                <td>Twice Weekly <br>(8 times per month) </td>
                <td>3 hrs</td>
                <td>$468</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Twice Weekly <br>(8 times per month) </td>
                <td>4 hrs</td>
                <td>$618</td>
                <td>32</td>
              </tr>
              <tr>
                <td>Thrice Weekly <br>(12 times per month) </td>
                <td>3 hrs</td>
                <td>$684</td>
                <td>36</td>
              </tr>
              <tr>
                <td>Thrice Weekly <br>(12 times per month) </td>
                <td>4 hrs</td>
                <td>$888</td>
                <td>48</td>
              </tr>
            </tbody>
          </table>

          <p><strong>Additional Charges: </strong>Sat, Sun & PH	$45.00</p>
    </div>
  </section>


  <div class="section">

      <div class="content">

        <p>
          <strong>Q: What is a part-time maid?</strong>
        </p>
        <p>
          A part-time maid in Singapore does part-time housework with several employers. No Foreign Domestic Worker with a valid work permit is allowed to do part-time.
        </p>
        <p>
          A part-time maid is either a Singaporean or a permanent resident or a foreigner who has a “Visit Pass” (looks like an Employment Pass green card but is written on it “Visit Pass”). Before hiring a part-time maid, always check her ID and work pass if any. It is an offence to employ as a part-time helper a Foreign Domestic Worker who has a valid work permit with another employer.
        </p>
        <p>
          All of Trust Cleanz maids are insured. An introduction and an agreement is signed upon engagement of our part-time maids.
        </p>

      </div>

  </div>

  {{ partial "base/footer.html" . }}




</main>
</body>
</html>
